{{!-- https://getbootstrap.com/docs/5.1/components/carousel/ --}}
{{!-- https://blossomthemes.com/theme-demo/?theme=blossom-recipe --}}

<div class="search-bar">
    <form action="/recipe/search" method="GET" class="d-flex">
        <input name="recipeTitle" class="form-control me-2" type="text" placeholder="Search for recipes" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div id="homepage-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          {{#each featureRecipes}}
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{@index}}" {{#unless
            @index}}class="active" aria-current="true" {{/unless}} aria-label="{{this.name}}"></button>
          {{/each}}
        </div>
        <div class="carousel-inner">
          {{#each featureRecipes}}
          <div class="carousel-item {{#unless @index}}active{{/unless}}">
            <img src="{{cloudinaryResize this.url "c_fill,w_636,h_460"}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{this.name}}</h5>
              <p>{{this.description}}</p>
            </div>
          </div>
          {{/each}}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#homepage-carousel"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#homepage-carousel"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>


    <div class="col-sm-6 grid-recipes">
      <div class="row row-cols-2">
        {{!-- Grid cards --}}
{{!-- https://getbootstrap.com/docs/5.0/components/card/ --}}
        {{#each gridRecipes}}
        <div class="col">
          <div class="card">
            <img src="{{cloudinaryResize this.url "c_fill,w_400,h_225"}}" class="card-img-top" alt="{{this.name}}">
            <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <p class="card-text">{{this.description}}</p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
