
<div class="profile-body">
 
    {{#with user}}
        <div class="user-info">
            <img src="{{imageUrl}}" alt="Picture of {{name}}" class="profile-img" >
            
            <div class="user-info-sub-div">
                <h4 class="user-name">{{name}}</h4>
                <h5>{{city}}</h5>
                <p>{{intro}}</p>
            </div>
        </div>
        
    {{/with}}

    <h4 class="text-center">Check out my recipes below!</h4>
    <div class="recipes-collection-div">
    {{#each recipe}}

        <div class="recipe-info-box">
            <img src="{{cloudinaryResize this.url "c_fill,w_400,h_225"}}" alt="image of {{name}}" class="img-fluid">
            <a href="/recipe/{{id}}">{{name}}</a>
        </div>

    {{/each}}
    </div>

    <h4 class="text-center">Events Hosted</h4>
    <div class="recipes-collection-div">
    {{#each event}}
        <div class="recipe-info-box">
            <img src="{{cloudinaryResize this.img "c_fill,w_400,h_225"}}" alt="Image of the {{title}} event" class="img-fluid">
            <a href="/event/{{id}}">{{title}}</a>
        </div>
    {{/each}}
    </div>

</div>
