
<div class="profile-body">
    <h1>Profile</h1>

    {{#with user}}
        <img src="{{imageUrl}}" alt="Picture of {{name}}" class="profile-img" >
        <h3 class="user-name">{{name}}</h3>
        <h3>{{city}}</h3>
        <h3>{{age}}</h3>
        <p>{{intro}}</p>
    {{/with}}


    <h2>My Recipes</h2>
    <div class="recipes-collection-div">
    {{#each recipe}}

        <div class="recipe-info-box">
            <img src="{{cloudinaryResize this.url "c_fill,w_400,h_225"}}" alt="image of {{name}}" class="img-fluid">
            <a href="/recipe/{{id}}">{{name}}</a>
        </div>

    {{/each}}
    </div>
</div>

