
<h1>Profile</h1>

{{#with user}}
<img src="{{imageUrl}}" alt="Picture of {{name}}">
<h3>{{name}}</h3>
<h3>{{city}}</h3>
<h3>{{age}}</h3>
<p>{{intro}}</p>
{{/with}}


<h2>My Recipes</h2>
{{#each recipe}}
<h3>name: {{name}}</h1>
<h4>description: {{description}}</h1>
<h4>cooktime: {{cooktime}}</h1>
<h4>servings: {{servings}}</h1>
<img src="{{url}}" alt="picture of {{name}}">
<a href="/recipe/{{_id}}/delete">Delete {{name}}</a>
{{/each}}
