{{#with recipe}}
    <div class="recipe-card">
        {{#if ../showDelete}}
        <a href="/recipe/{{_id}}/edit" class="edit-icon">Edit <i class="bi bi-pencil-square"></i></a>
        <a href="/recipe/{{_id}}/delete" class="delete-icon">Delete <i class="bi bi-trash-fill"></i></a>
        {{/if}}
        
        <div class="center-align">
            <h1 class="recipe-name">{{name}}</h1>
            {{#with creater}}
            <h5>-By <a href="/profile/{{_id}}">{{name}}</a></h5>
            {{/with}}

            <div class="recipe-tags">
                {{#each tags}}
                    {{#if this}}
                    <span class="badge rounded-pill text-dark">{{this}}</span>
                    {{/if}}
                {{/each}}
            </div>
            
            
            <img src="{{url}}" alt="Image of {{name}}" class="recipe-picture img-fluid">
        
            <table class="recipe-meta-info">
                <thead>
                    <tr>
                    {{#if cooktime}}
                    <th scope="col" style="border-right: 1px solid black;">Cook Time</th>
                    {{/if}}
                    {{#if servings}}
                    <th scope="col">Servings</th>
                    {{/if}}
                    {{#if calories}}
                    <th scope="col" style="border-left: 1px solid black;">Calories</th>
                    {{/if}}   
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {{#if cooktime}}
                            <td style="border-right: 1px solid black;">{{cooktime}}</td>
                        {{/if}}

                        {{#if servings}}
                            <td>{{servings}}</td>
                        {{/if}}

                        {{#if calories}}
                            <td style="border-left: 1px solid black;">{{calories}}</td>
                        {{/if}}
                    </tr>        
                </tbody>
            </table>
        </div>
        <div class="ingredients">
            <h3>Ingredients: </h3>
            {{#each ingredients}}
            {{#if this}}
                <input type="checkbox"> <label class="ingredient-name">{{this}}</label><br>
                {{/if}}
            {{/each}}
        </div>

        <div class="instructions-div">
            <h3>Instructions: </h3>
            <ol>
            {{#each instructions}}
            {{#if this}}
                <li class="instruction">{{this}}</li>
                {{/if}}
            {{/each}}
            </ol>
        </div>

        {{#if source}}
        <div class="notes">
            <h3>Notes: </h3>
            <p><i>Inspiration for this recipe: </span><a href="{{source}}" target="_blank">{{source}}</a></i></p>
        </div>
        {{/if}}

    </div>
  
{{/with}}
    