{{#with recipe}}

    <div class="recipe-card">
        <h1 class="recipe-name">{{name}}</h1>
        {{#if tags}}
        <h3>Tags: <span class="badge badge-pill badge-danger">{{tags}}</span></h3>
        {{/if}}
        <span class="badge badge-primary">{{tags}}</span>
        <img src="{{url}}" alt="Image of {{name}}" class="recipe-picture img-fluid">
        {{#if source}}
        <h3>Source: </h3><a href="{{source}}" target="_blank">{{source}}</a>
        {{/if}}
        {{#if cooktime}}
        <h3>Cook Time: </h3>{{cooktime}}
        {{/if}}
        <h3>Servings: </h3>{{servings}}
        {{#if calories}}
        <h3>Calories: </h3>{{calories}}
        {{/if}}

        <h3>Instructions: </h3>
        <ol>
        {{#each instructions}}
            <li>{{this}}</li>
        {{/each}}
        </ol>

        <h3>Ingredients: </h3>
        <ul>
        {{#each ingredients}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
        
    </div>
  {{#if ../showDelete}}
<a href="/recipe/{{_id}}/delete">Delete {{name}}</a>
 {{/if}}
{{/with}}
    