{{#with recipe}}
    <div class="recipe-card">
        <h1 class="recipe-name">{{name}}</h1>

        {{#if tags}}
        <div class="recipe-tags">
            {{#each tags}}
            <span class="badge rounded-pill text-dark">{{this}} </span>
            {{/each}}
        </div>
        {{/if}}
        <img src="{{url}}" alt="Image of {{name}}" class="recipe-picture img-fluid">
        {{#if source}}
        {{!-- <h3>Source: </h3><a href="{{source}}" target="_blank">{{source}}</a> --}}
        {{/if}}
        <table class="recipe-meta-info">
            <thead>
                <tr>
                {{#if cooktime}}
                <th scope="col" style="border-right: 1px solid black;">Cook Time</th>
                {{/if}}
                {{#if servings}}
                <th scope="col">Servings</th>
                {{/if}}
                {{#if calories}}
                <th scope="col" style="border-left: 1px solid black;">Calories</th>
                {{/if}}   
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{#if cooktime}}
                        <td style="border-right: 1px solid black;">{{cooktime}}</td>
                    {{/if}}

                    {{#if servings}}
                        <td>{{servings}}</td>
                    {{/if}}

                    {{#if calories}}
                        <td style="border-left: 1px solid black;">{{calories}}</td>
                    {{/if}}
                </tr>        
            </tbody>
        </table>

        <div class="ingredients">
            <h3>Ingredients: </h3>
            {{#each ingredients}}
                <input type="checkbox"> <label class="ingredient-name">{{this}}</label><br>
            {{/each}}
        </div>

        <div class="instructions-div">
            <h3>Instructions: </h3>
            <ol>
            {{#each instructions}}
                <li class="instruction">{{this}}</li>
            {{/each}}
            </ol>
        </div>

        <div class="notes">
            <h3>Notes: </h3>
            <p><i>Inspiration for this recipe: </span><a href="{{source}}" target="_blank">{{source}}</a></i></p>
        </div>

    </div>
  {{#if ../showDelete}}
<a href="/recipe/{{_id}}/edit">Edit {{name}}</a>
<a href="/recipe/{{_id}}/delete">Delete {{name}}</a>
 {{/if}}
{{/with}}
    