<h3 class="search-heading">Search Results</h3>
<div class="search-bar">
    <form action="/recipe/search" method="GET" class="d-flex">
        <input name="recipeTitle" class="form-control me-2 search-input-field" type="text" value="{{searchTerm}}" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>

<div class="recipes-collection-div">
{{#each recipe}}

    <div class="recipe-info-box">
        <img src="{{url}}" alt="image of {{name}}" class="img-fluid recipe-info-img">
        <a href="/recipe/{{id}}">{{name}}</a>
        {{#with creater}}
            <span><img src="{{imageUrl}}" class="creater-img-icon">{{name}}</span>
            
        {{/with}}
    </div>

{{/each}}
</div>