{{#with event}}

<div>
    <h1>{{title}}</h1>
    {{!-- <p>Created by {{creater.name}}</p> --}}
    <span>-By <a href="/profile/{{creater._id}}">{{creater.name}}</a></span>
    <img src="{{cloudinaryResize this.img "c_fill,w_500,h_400"}}" alt="Image of the {{title}} event">
    <div>
        <h6>Date: {{startDate}}</h6>
        <h6>Time: {{startTime}} - {{endTime}}</h6>
        <h6>Location:{{Location}}</h6>
        <h6>Description: {{description}}</h6>
        <h6>Tags: {{tags}}</h6>
    </div>

    <div>
        {{#if ../showDelete}}
        <a href="/event/{{_id}}/delete"><button type="submit">Delete</button></a>
        <a href="/event/{{_id}}/edit"><button type="submit">Edit</button></a>
        {{/if}}
    </div>
</div>

{{/with}}
{{!-- <span>-By <a href="/profile/{{_id}}">{{name}}</a></span> --}}