<div class="event-details-container">
    {{#with event}}
    <div class="event-details-box">
        <div class="join-event">
            {{#if img}}
                <img src="{{cloudinaryResize this.img "c_fill,w_500,h_400"}}" alt="Image of the {{title}} event">
            {{/if}}
            <div>
                <p>⏰{{startDate}}, {{startTime}} - {{endTime}}</p>
                <h1>{{title}}</h1>
                <span>-By <a href="/profile/{{creater._id}}">{{creater.name}}</a></span>
                <button type="submit" class="read-more-event">Join this event</button>
            </div>
        </div>

        <div class="event-main-content">
            <div>
                <h6>📍{{location}}</h6>
                <h6>Description: {{description}}</h6>
                {{#if tags}}
                    <h6>Tags:{{tags}}</h6>
                {{/if}}
            </div>

            <div class="adjust-event-btn">
                {{#if ../showDelete}}
                <a href="/event/{{_id}}/delete"><button type="submit">Delete</button></a>
                <a href="/event/{{_id}}/edit"><button type="submit">Edit</button></a>
                {{/if}}

            </div>
        </div>
    </div>
    {{/with}}

</div>
