<div class="container">
    <h1 class="search-heading">Upcoming Events</h1>
    <div class="search-bar">
        <form action="/event/search" method="GET" class="d-flex">
            <input name="eventTitle" class="form-control me-2 search-input-field" type="text"
                placeholder="Look for an event near you" value="{{searchTerm}}" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>

    <div class="recipes-collection-div">
        {{#each event}}
        <div class="search-event-details">
            <a href="/event/{{id}}"><img src="{{cloudinaryResize img "c_fill,w_400,h_300"}}" alt="image of {{title}}" class="img-fluid"></a>
            <h3>Location:{{Location}}</h3>
            <h2><a href="/event/{{id}}">{{title}}</a></h2>
            <a href="/event/{{id}}"><button>Find Out More</button></a>
        </div>

        {{/each}}
    </div>
</div>
